.navbar {
    background-color: #f1f1f1;
    height: 100px;
}

.verde {
    color: #255c01 !important;
}

.btn-primary {
    background-color: #255c01 !important;
}

.logo {
    object-fit: cover;
    height: 100px;
    position: absolute;
    top: 1px;
    left: 10px;
}
.navmenu {
    display: flex;
}
.dropdown {
    display: none;
}
#formulario {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    #formulario {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width: 600px) {
    .navmenu {
        display: none;
    }
    .dropdown {
        display: block;
    }
    
}