.navbar {
    background-color: #f1f1f1;
    height: 100px;
}

.verde {
    color: #255c01 !important;
}

.btn-primary {
    background-color: #255c01 !important;
}

.logo {
    object-fit: cover;
    height: 100px;
    position: absolute;
    top: 1px;
    left: 10px;
}